.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.title_wrap {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  font-weight: 400;
}

.img {
  padding: 4px;
  width: 35px;
  height: 35px;
}

.btn {
  padding: 4px 5px;
  display: grid;
  place-content: center;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.update {
  transition: transform 0.4s ease-in-out;
  &:hover {
    transform: rotate(180deg);
  }
}

.input_wrap {
  width: 343px;
  position: relative;
}

.textarea {
  padding: 10px;
  width: 343px;
  height: 150px;
  border: 1px solid #000;
  outline: none;
  resize: none;
}

.send {
  position: absolute;
  right: 20px;
  bottom: 15px;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(0.8);
  }
}
